<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Change book</title>
  </head>
  <body>
    <h1>Change book</h1>
    <a th:href="@{/admin}">Admin panel</a>
    <h2>Book</h2>

    <form method="post" th:object="${bookToChange}"
          th:action="@{/admin/changeBook/{id}(id=${param.id})}">
      <label>
        Title:
        <input type="text" th:field="*{title}" placeholder="Title"/>
      </label>
      <label>
        Author:
        <input type="text" th:field="*{author}" placeholder="Author"/>
      </label>
      <label>
        Year:
        <input type="number" th:field="*{year}" placeholder="Year"/>
      </label>
      <label>
        Keywords:
        <input type="text" th:field="*{keywords}" placeholder="Keywords"/>
      </label>
      <button type="submit">Change Book</button>
    </form>
  </body>
</html>